@import "lib/style";

.outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $lightGrayColor;
  padding: 8px;
}

.container {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white;
  max-width: 480px;
  border: 1px solid rgba($grayColor, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.header {
  display: block;
  padding: 16px 0 12px 16px;
}

.header {
  @include title-text;
  color: $blackColor;
}
